
<div class="container">
  <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert"> -->
  <% if @chat.errors.any? %>
  <h4><%= @chat.errors.count %> Errors Present.</h4>
    <ul>
    <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
  </div>
<!-- </div> -->
