/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 html,body {
   height: 100%;

 }
.footer{
  height: 70px;
  background-color:#2C2C3D;
  color:white;
  font-weight: bold;
  bottom:0;
  position: fixed;
  width:100%;
  /* padding-bottom:110px; */
}

.image-size {
  max-width: 300px;
  max-height: 200px;
}
