// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
//
.navbar {
  background-color: #155885   !important;
}

.nav-link {
  color: white !important;
}
//
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
//
#home-container {
  margin-top: 25px;
}





// .jumbotron {
//
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 425px;
// }

html,
body {font-size: 1rem;
  height: 100%;
}
//
#page-content {
  flex: 10 auto;
  background-color: white;
}

#sticky-footer {
  flex-shrink: none;
}
