<br>

<footer id="sticky-footer">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Chimfwembe John","www.tweeter.com", class: "text-white" %></small>
  </div>
</footer>
